{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}


        <div class="card" style="width: 18rem;">
            <img src="{{ asset('')}}{{produit.image}}" alt="retest" class="boulesdegomme_img">
            <div class="card-body">
                <h5 class="card-title"> {{produit.nom}} </h5>
                <p class="card-text"> {{produit.description}}</p>
                <a href="/panier/ajouter/{{produit.id}}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>


{% endblock %}
 